<div class="container mt-3">
  <h2>Let's Login</h2>
  <hr />
  <form #loginForm="ngForm" (ngSubmit)="handleSubmitForm(loginForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="userEmail"
        ngModel
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        #userEmail="ngModel"
      />
      @if(userEmail.invalid && userEmail.touched){

          <div id="emailHelp" class="form-text text-danger">
            @if (userEmail.hasError('required')) {
                <span>Email is Required</span>
              }@else if (userEmail.hasError('pattern')) {
                Enter a Valid Email.
              }
            </div>
        
      }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="userPassword"
        ngModel
        required
        #userPassword="ngModel"
        minlength="8"
      />
      @if(userPassword.invalid && userPassword.touched){

        <div id="emailHelp" class="form-text text-danger">
            @if (userPassword.hasError('required')) {
                <span>Password is Required</span>
              }@else if (userPassword.hasError('minlength')) {
                Password must be at least 8 characters long.
              }
           
        </div>
    }
    </div>
    <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Log in</button>
  </form>
</div>
