<div class="container mt-3">
  <h2>Let's Sign Up!</h2>
  <hr />
  <form [formGroup]="registerForm" (ngSubmit)="handleSumbitForm()" class="mt-3">
    <div class="mb-3">
      <label for="userName" class="form-label">User Name</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        aria-describedby="nameHelp"
        formControlName="userName"
        
      />
      @if(formControls['userName'].invalid && formControls['userName'].touched){

        <div id="nameHelp" class="form-text text-danger">
          @if (formControls['userName'].hasError('required')) {
              <span>Name is Required</span>
            }@else if (formControls['userName'].hasError('minlength')) {
              Enter a Valid Name.
            }@else if (formControls['userName'].hasError('pattern')) {
              shouldn't contain any spaces
            }
          </div>
      
    }
    </div>

    <div class="mb-3">
      <label for="userEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="userEmail"
        aria-describedby="emailHelp"
        formControlName="userEmail"
      />
      @if(formControls['userEmail'].invalid && formControls['userEmail'].touched){

        <div id="emailHelp" class="form-text text-danger">
          @if (formControls['userEmail'].hasError('required')) {
              <span>Email is Required</span>
            }@else if (formControls['userEmail'].hasError('email')) {
              Enter a Valid email.
            }
          </div>
      
    }
    </div>
    <div class="mb-3">
      <label for="userPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="userPassword" formControlName="userPassword" />
      @if(formControls['userPassword'].invalid && formControls['userPassword'].touched){

        <div id="nameHelp" class="form-text text-danger">
          @if (formControls['userPassword'].hasError('required')) {
              <span> password is Required</span>
            }@else if (formControls['userPassword'].hasError('minlength')) {
              at least 8 characters.
            }@else if (formControls['userPassword'].hasError('pattern')) {
              password length not less than
              8 characters , contains at least one lowercase , one
              uppercase , at least one digit and special character [
              example : *%$# ] 
            }
          </div>
      
    }
    </div>

    <div class="mb-3">
      <label for="ConfirmPassword" class="form-label"
        >Confirm Password</label
      >
      <input
        type="password"
        class="form-control"
        id="ConfirmPassword"
        formControlName="confirmPassword"
      />
      @if(formControls['confirmPassword'].invalid && formControls['confirmPassword'].touched){

        <div id="nameHelp" class="form-text text-danger">
          @if (formControls['confirmPassword'].hasError('required')) {
              <span>confirm password is Required</span>
            }@else if (formControls['confirmPassword'].hasError('passwordMismatch')) {
              doesnot match.
            }
          </div>
      
    }
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
